[submodule "include/forge"]
	path = include/forge
	url = https://github.com/dbuzinski/forge.git
[submodule "include/uWebSockets"]
	path = include/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
